<div class="footer">
  <div class="container">
    <div class="footitem col-sm-4 col-xs-12" >
      <address>
        <strong>Contact Us</strong>
        <br>
        <br>
        4633 Convoy St #103
        <br>
        San Diego, CA 92111
        <br>
        <strong title="Phone"> Phone:</strong> (858) 499-8999
      </address>
    </div>
    <div class="footitem col-sm-4 col-xs-12" >
      <strong>Business Hours</strong>
      <br>
      <br>
      Sun - Wed: <b>11am - 12am</b>
      </br>
      Thur - Sat: <b>11am - 2am</b>
    </div>
    
    <div class="footitem col-sm-4 col-xs-12" >
      <div class="happyhour">
        <strong>Happy Hour</strong>
        <br>
        <br>
        Everyday: <b> 3pm - 7pm</b>
      </div>
      <ul class="socialmeds">
      <%= link_to "https://www.facebook.com/NolbuSD" do %>
        <i class="fa fa-lg fa-facebook-official"></i>
      <% end %>
      <%= link_to "http://www.yelp.com/biz/nolbu-mini-gastropub-san-diego" do %>
        <i class="fa fa-lg fa-yelp"></i>
      <% end %>
      <%= link_to "http://www.instagram.com/nolbusd" do %>
        <i class="fa fa-lg fa-instagram"></i>
      <% end %>
      <%= link_to "http://www.twitter.com/nolbusd" do %>
        <i class="fa fa-lg fa-twitter-square"></i>
      <% end %>
      <!-- <%= link_to image_tag('twittericon.png'), "http://www.facebook.com", id: "twitter" %> -->
      <%#= link_to image_tag('yelpicon.png'), "http://www.yelp.com/biz/nolbu-mini-gastropub-san-diego", id: "yelp" %>
    </div>
  </div>
</div>